
          .div1{
            background:#DAD6D6;
            width:870px;
            height:870px;
            margin:auto;
            border:3px solid purple;
            padding:10px;

          }
            .image1{
            width:210px;
            height:210px;
            margin:29px 50px 180px 50px;
            border-radius:350px;



            }
            #image2{
              width:26px;
              height:35px;
              margin:55px 250px 1px 360px;
              position: absolute;

            }
            #image3{
              width:20px;
              height:20px;
              margin:201px 250px 1px 362px;
              position: absolute;
            }
            #image4{
              width:20px;
              height:20px;
              margin:110px 250px 1px 363px;
              position: absolute;
            }
            #image5{
              width:20px;
              height:20px;
              margin:160px 250px 1px 362px;
              position: absolute;
            }

            .nationality{
              margin:-512px 250px 1px 410px;
              position: absolute;
              font-style: italic;
              font-size: 25px;
            }
            .address{
              margin:-370px 250px 1px 410px;
              position: absolute;
              font-style: italic;
              font-size: 25px;
            }
            .phone{
              margin:-462px 250px 1px 400px;
              position: absolute;
              font-style: italic;
              font-size: 25px;
            }
            .e-mail{
              margin:-415px 250px 1px 410px;
              position: absolute;
              font-style: italic;
              font-size: 25px;
            }
            h1{
               margin:-120px 350px 160px 25px;
               font-style: oblique;
               line-height: normal;
                      }
            h2{
             text-decoration:underline;
             padding-left: 10px;
            }
            .name{
              color:purple;
            }
